/* General Styles */

body {
  background-color: rgb(193, 208, 181);
  margin: 0px;
}

article {
  text-align: center;
}

/* Navigational Bar Styles */

.navbar {
  background-color: ivory;
  width: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
}

.navbar a {
  float: left;
  font-size: 25px;
  padding: 12px;
  list-style: none;
  width: 50%;
  text-decoration: none;
  text-align: center;
  width: 47%;
  font-family: 'Garamond', serif;
  color: rgb(100, 85, 71);
}

.navbar a:hover {
  color: rgb(193, 208, 181);
}

.navbar a:visited {
  color: rgb(100, 85, 71);
}

/* Heading Styles */
h1 {
  font-size: 75px;
  text-align: center;
  font-family: 'Garamond', serif;
  color: rgb(100, 85, 71)
}


h2 {
  font-size: 50px;
}

/* Main Content Styles */
p {
  font-size: 25px;
  margin: 100px;
  margin-left: 275px;
  margin-right: 275px;
  margin-bottom: 80px;
}


img {
  width: 400px;
  border: solid;
  border-color: ivory;
}

/* Footer Styles */
footer {
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
  background-color: ivory;
  font-family: 'Garamond', serif;
  padding-top: 20px;
}